{% extends 'base.html' %}
{% block title %}All Tasks{% endblock %}
{% block body %}
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>Welcome {{ user.firstname | title }}</h1>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-offset-2 col-md-8 text-center">
				<h1>Stuff To Do</h1>
			</div>
			{# task filter selection #}
			<div class="col-md-2 text-center">
				<form action="/tasks" method="GET">
					<div class="form-group">
						<label for="status">filter by status</label>
						<select class="form-control" id="status" name="status" onchange="this.form.submit()" autofocus>
							<option value="all">All</option>
							<option value="not completed">Not Completed</option>
							<option value="completed">Completed</option>
							<option value="current">Current</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
				{% if tasks %}
					<div class="col-sm-12 text-center pull-left">
					{% for task in tasks %}
						<div class="col-md-4 w3-hover-opacity">
							<div class="w3-light-grey">
								<div class="w3-container w3-center">
									<a href="/tasks/{{ task.task_id }}/details">
									<h3><a href="/tasks/{{ task.task_id }}/details">{{ task.title }}</h3>
									<p class="pics">
									<img src="static/uploads/{{ task.pic }}" alt="task picture" class="img-responsive img-circle center-block" style="width: 300px; height: 300px;">
									</p>
									</a>
									<p class="tdescription">{{ task.description }}</p>
									<div style="background-color: #000; color: #FFF;">
										<a href="/tasks/{{ task.task_id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="/tasks/{{ task.task_id }}/completed"><span class="glyphicon glyphicon-ok"></span></a>
										<a href="/tasks/{{ task.task_id }}/delete"><span class="glyphicon glyphicon-remove"></span></a>
									</div>
								</div>
							</div>
					<br>
						</div>
					{% endfor %}
					</div>
				{% else %}
					<p>No stuff to display</p>
				{% endif %}
		</div>
	</div>
{% endblock %}