{% extends 'base.html' %}
{% block title %}All Tasks{% endblock %}
{% block body %}
	<div class="container">
		<div class="row" style="text-align: right;">
			<div class="col-xs-12">
				<h3>filter</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1>Stuff To Do</h1>
			</div>
		</div>
		<br>
		<div class="row">
				{% if tasks %}
					<div class="col-md-12 text-center pull-right">
					{% for task in tasks %}
						<div class="col-md-4 w3-hover-opacity">
							<div class="w3-card-24 w3-light-grey">
								<div class="w3-container w3-center">
									<h3><a href="/tasks/{{ task.task_id }}/details">{{ task.title }}</a></h3>
									{# <img src="{{ url_for('static', filename='uploads/{{task.pic}}') }}" alt="task picture" style="width:20%" class="img-responsive img-circle center-block"> #}
									<p>
									<img src="static/uploads/{{ task.pic }}" alt="task picture" style="width:100%" class="img-responsive img-circle center-block">
									</p>
									<p style="min-height: 100px; max-height: 100px; overflow: hidden;">{{ task.description }}</p>
									{# <button class="w3-btn w3-green">Accept</button>
									<button class="w3-btn w3-red">Decline</button> #}
									<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
									<a href="/tasks/{{ task.task_id }}/completed"><span class="glyphicon glyphicon-ok"></span></a>
									<a href="/tasks/{{ task.task_id }}/delete"><span class="glyphicon glyphicon-remove"></span></a>
								</div>
							</div>
					<br>
						</div>
					{% endfor %}
					</div>
				{% else %}
					<p>No stuff to display</p>
				{% endif %}
		</div>
	</div>
{% endblock %}