{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-8">
				<h1>Stuff To Do</h1>
			</div>			
			<div class="col-sm-3">
				<a href="/add" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-plus"></span> Add
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				{% if tasks %}
					<ol>
					{% for task in tasks %}
						<div class="row">
							<div class="col-md-6">
								<li>
									<a href="/tasks/{{ task.task_id }}" >{{ task.title }} {{ task.description }}</a>
									<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
									<a href="#"><span class="glyphicon glyphicon-ok"></span></a>
									<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
									<img src="{{ task.pic }}" width="100">
			    				</li>
							</div>
						</div>
					{% endfor %}
					</ol>
				{% else %}
					<p>No stuff to display</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}